ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  height: 1000px;
  font-family: 'Roboto', sans-serif;
}

input, button {
  font-family: inherit;
  font-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 19% auto;
  height: 100%;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 25px 17px;
  font-size: 25px;
  row-gap: 35px;
  background-color: #1992D4;
  color: white;
  font-weight: bold;
}

svg {
  fill: white;
  width: 32px;
  vertical-align: bottom;
  margin-right: 30px;
}

p svg {
  width: 55px;
  vertical-align: middle;
  margin-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar p {
  font-size: 32px;
}

ul {
  display: grid;
  row-gap: 20px;
  padding-left: 12px;
}

.navigation {
  margin-bottom: 25px;
}

.header {
  grid-column: 2;
  display: grid;
  align-content: space-around;
  box-shadow: 2px 2px 4px 2px #ccd1d8;
  z-index: 1;
}

.top {
  display: grid;
  grid-auto-flow: column;
  padding-left: 60px;
  padding-right: 100px;
  grid-template-columns: 3fr 1fr;
}

.top .search {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 18px;
  align-items: center;
}

.top .right {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  column-gap: 46px;
}

.top svg {
  fill: black;
  margin-right: 0;
}

.top svg:hover {
  fill: #1992D4;
}

.top img {
  width: 45px;
}

.top .avatar {
  width: 57px;
  height: 57px;
  background-color: #FACC15;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.top p {
  font-weight: bold;
  font-size: 22px;
}

input {
  appearance: none;
  width: 765px;
  background-color: #E2E8F0;
  height: 36px;
  border-radius: 14px;
  border-style: none;
  padding: 2px 8px;
}

.bottom {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-left: 60px;
  padding-right: 80px;
  grid-template-columns: 1fr;
  column-gap: 35px;
}

.bottom .avatar {
  width: 80px;
  height: 80px;
  background-color: #FACC15;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.bottom img {
  width: 65px;
}

.bottom .left {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 25px;
}

.bottom .user-info {
  display: grid;
  align-content: center;
  row-gap: 7px;
  font-weight: bold;
}

.bottom .user-info:last-child {
  font-size: 26px;
}

.user-info .greeting {
  font-size: 16px;
}

.bottom button {
  width: 130px;
  height: 40px;
  color: white;
  background-color:#1992D4;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

.main-content {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 30px;
  column-gap: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  row-gap: 30px;
  background-color:#E2E8F0;
}

.projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto 1fr;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(2, minmax(380px, 550px));
  gap: 35px;
}

.card {
  border: 1px solid black;
  padding: 30px;
  display: grid;
  background-color: white;
  border-style: none none none solid;
  border-left-color: #F0B429;
  border-left-width: 10px;
  grid-template-rows: auto 1fr;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 2px #ccd1d8;
}

.card .project-name {
  font-weight: bold;
  font-size: 22px;
}

.card .description {
  font-size: 20px;
}

.widgets {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 25px;
  align-self: end;
}

.widgets svg {
  fill: black;
  margin-right: 0;
}

.widgets svg:hover {
  fill:#1992D4;
}

.announcements {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements .posts {
  padding: 35px;
  display: grid;
  align-content: space-between;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 2px #ccd1d8
}

.posts .title {
  font-weight: bold;
  font-size: 18px;
}

.posts .description {
  font-size: 16px;
}

hr {
  margin: 0;
  height: 0;
}

.trending {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr;
}

.trending-projects {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  padding: 32px;
  column-gap: 28px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 2px #ccd1d8
}

.trending-projects .handle {
  font-weight: bold;
  font-size: 17px;
}

.trending-projects .project {
  font-size: 20px;
}

.trending .avatar {
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.trending-projects img {
  width: 45px;
}

.trending-projects #penguin img {
  width: 35px;
}

.trending-projects #superhero img {
  width: 30px;
}

.trending-projects #dog {
  background-color: #E0F2FE;
}

.trending-projects #cat {
  background-color:#FACC15;
}

.trending-projects #superhero {
  background-color: #A3A3A3;
}

.trending-projects #penguin {
  background-color: #FDA4AF;
}