ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 17fr;
  height: 100%;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 17px;
  font-size: 21px;
  row-gap: 35px;
}

.sidebar p {
  font-size: 35px;
}

ul {
  display: grid;
  row-gap: 15px;
  padding-left: 10px;
}

span {
  margin-right: 20px;
}

ul span {
  margin-right: 35px;
}

.navigation {
  margin-bottom: 17px;
}

.header {
  grid-column: 2;
  display: grid;
}

.main-content {
  display: grid;
}

.projects {
  grid-row: 1 / 3;
}

.announcements {
  grid-column: 2;
}

.trending {
  grid-column: 2;
}